.mainBoardElement {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.avatarComp {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    width: 60%;
}

.avatarImg{
    width: 135px;
    height: 135px;
    margin-right: 2em;
    border-radius: 100%;
    background-color: aliceblue;
    box-shadow: 0px 3px 6px rgba(1, 1, 1, 0.15);
    background-position: center center;
}

.avatarIGDatas {
    display: flex;
    margin-bottom: .5em;
}

.avatarIGDatas div {margin-right: 1.5em;}

.igName, .igLocation {
    display: flex;
    align-items: center;
}

.igName p, .igLocation p { margin-right: .3em; font-weight: 500;}

.igName {color: #00CFFC;}
.igLocation {color: #B0B6BB;}

.avatarInterest {
    width: 90%;
    list-style: none;
    display: flex;
    color: #B0B6BB;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.avatarInterest li {
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: .5em;
    margin-bottom: .5em;
    padding: 0.3em 1em 0.3em 1em;
    background-color: #606D77;
    border-radius: 5em;
    transition: all 0.2s ease-in;
}

.avatarInterest li:hover {
    background-color: #00CFFC;
    color: white;
}

.statsContainer {
    display: flex;
}

.statsElems:first-child {
    margin-right: 2.5em;
}

.scoreElem {list-style: none;}

.statsElems p {
    font-weight: 500;
    color: #B0B6BB;
}

.statsElems h2 {
    font-size: 2em;
    font-weight: 500;
}

.scoreBoard {
    margin-top: 4em;
}

.scoreWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 470px;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    border-bottom: 1px solid #606D77;
}

.scoreSubTitle {
    color: #00CFFC;
}

.scoreResult {
    font-size: 2rem;
}

.scoreInfo {
    display: flex;
    align-items: center;
}
.scoreTitleWrapper {
    margin-left: 1.5em;
}
