.mainBoardElement {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 4em;
}

.mainBoardElement2Row {
    display: flex;
    margin-top: 4em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9em;
}

