.engagementWrapper {
    display: flex;
    width: 100%;
    font-size: 22px;
}

.engagementBlock {
    padding: 6em;
    border: 1px solid #606D77;
    height: 100%;

}
.engagementBlock h2 {
    letter-spacing: 0.02em;
}

.engagementBlock:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
.engagementBlock:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.smallText {
    font-size: 1rem;
    color: #B0B6BB;
    letter-spacing: 0.03em;
}