.searchWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputElem {
    padding: .9em;
    padding-left: 2.5em;
    width: 450px;
    height: 25px;
    background: #606D77;
    border: none;
    color: white;
    border-radius: 2em;
}

.buttonSearch {
    margin-left: 1.5em;
    font-weight: 800;
    width: 90px;
    height: 45px;
    background: #00CFFC;
    border: none;
    color: white;
    border-radius: 2em;
    cursor: pointer;
}

.searchBarWrap {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
}

 /* {

    margin-top: 3.5em;
    width: 100%;
    z-index: 9;
    background-color: #606D77;
    border-radius: 1em;
}

datalist option {
    padding: .7em;
    margin-bottom: .2em;
    z-index: 9;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: 1em;
} */
.influencerSuggestionList {
    background-color: red;
}


.menuSuggestion li:hover {
    background-color: #00CFFC;
}

.searchElements {
    display: flex;
}