* {
  margin: 0;
  padding: 0;
}

body { 
  background: #2F495B;
  color: #FFFFFF;
  font-family: 'Neue Haas Grotesk';
  
}

p, li {
  font-weight: 100;


}

h1 { font-family: 'ITC Avant Garde Gothic Pro' }

.MainTitle{ 
  font-size: 3rem;
  margin-bottom: 1em;
}


.board {
  max-width: 1450px;
  height: 100vh;
  margin: 0 auto;

  padding: .5em;

}

.MainTitle {
  font-style: 3rem;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  src: url('./fonts/ITCAvantGardeStd-Bold/ITCAvantGardeStd-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('./fonts/NeueHaasDisplay-Roman/NeueHaasDisplay-Roman.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('./fonts/NeueHaasDisplay-Thin/NeueHaasDisplay-Thin.ttf');
  font-weight: 200;

}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 400;
  src: url('./fonts/NeueHaasDisplay-Mediu.eot');
  src: url('./fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
  url('./fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
  url('./fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }